<div class="modal-body p-0">

    <div class="alert alert-{{alertClass}} mb-0" role="alert">
      <div [ngSwitch]="alertClass" class="row justify-content-center">
        <fa-icon *ngSwitchCase="'success'" class="mr-2" icon="thumbs-up"></fa-icon> 
        <fa-icon *ngSwitchCase="'danger'" class="mr-2" icon="exclamation-triangle"></fa-icon> 
        {{mensagem}}
      </div>      
    </div>    

</div>