<div class="modal-body bg-light">

    <div class="container">
        <div class="row justify-content-center">
            <p class="text-center font-weight-bold">{{mensagem}}</p>
        </div>   
    </div>
     
    <div class="row d-flex justify-content-around">
        <div class="col">
            <button type="button" class="btn btn-sm btn-block btn-dark" (click)="excluir()">Sim</button>
        </div>
        <div class="col">
            <button type="button" class="btn btn-sm btn-block btn-danger" (click)="fechar()">Não</button>
        </div>                        
    </div>        

</div>