<div class="container-fluid">
  <div class="row">
    <div class="col-md-6 vh50 overflow">
      <app-formulario [pessoaParaAtualizar]="pessoaParaAtualizar" [quantidadeCadastros]="quantidadeCadastros" (cadastrou)="atualizarListaGatilho($event)"></app-formulario>
    </div>
    <div class="col-md-6 vh50 overflow">
      <app-lista-pessoa [atualizar]="atualizarLista" (quantidadeCadastros)="atualizaQuantidadeCadastros($event)" (excluiu)="atualizarListaGatilho($event)" (atualizarPessoa)="enviarParaFormulario($event)"></app-lista-pessoa>
    </div>
  </div>  
  <div class="row">
    <div class="col-md-6 vh50 overflow">
      <app-grafico [atualizar]="atualizarLista"></app-grafico>
    </div>
    <div class="col-md-6 vh50 overflow">
      <app-sobre></app-sobre>
    </div>
  </div>  
</div>