<div class="container h-100">

    <div *ngIf="carregando else grafico" class="row h-100">
        <div class="col d-flex justify-content-center align-items-center">
            <div class="spinner-border"></div>      
        </div>        
    </div>
    
    <ng-template #grafico>        
        <canvas baseChart
            [data]="dados"
            [labels]="labels"
            [chartType]="tipo"
            [colors]="cores"
            [options]="opcoes">
        </canvas>        
    </ng-template>
</div>

