<div class="container h-100 mt-2">  

  <table *ngIf="pessoas?.length && !carregando" class="table table-sm table-striped table-bordered mt-2 shadow rounded">
    <caption class="sr-only">Lista de pessoas cadastradas</caption>
    <thead class="thead-dark">
      <tr>
        <th scope="col">#</th>
        <th scope="col">Nome</th>
        <th scope="col">Nascimento</th>
        <th scope="col">Sexo</th>
        <th scope="col">
          <div class="col d-flex justify-content-center">Opções</div>
        </th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let pessoa of pessoas; index as i">
        <th scope="row" class="text-white"
          [ngClass]="{'homens': pessoa.sexo === 'm', 'mulheres': pessoa.sexo === 'f', 'naoInformado': pessoa.sexo === '-'}">
          {{i+1}}
        </th>
        <td>{{pessoa.nome | titlecase}}</td>
        <td>{{pessoa.dataNascimento | date: 'dd/MM/yyyy'}}</td>
        <td>{{pessoa.sexo | titlecase}}</td>
        <td>
          <div class="col d-flex justify-content-around">
            <button class="btn btn-sm btn-dark shadow" type="button" (click)="enviarPessoaParaFormulario(pessoa)">
              <fa-icon icon="user-edit"></fa-icon>
            </button>
            <button class="btn btn-sm btn-danger shadow" type="button" (click)="excluir(pessoa)">
              <fa-icon icon="user-times"></fa-icon>
            </button>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
  <div *ngIf="carregando" class="row h-100">
    <div class="col d-flex justify-content-center align-items-center">
        <div class="spinner-border"></div>      
    </div>        
  </div>  
</div>