.form-control:focus {
    border-color: rgb(169, 169, 169);
    box-shadow: 0 0 0 0.2rem rgba(169, 169, 169, 0.25);
}
 
.custom-control-input:checked ~ .custom-control-label::before {    
    border-color: #000;
    background-color: #000;
    box-shadow: 0 0 0 0.2rem rgba(169, 169, 169, 0.25);
  }
  