<div class="container mt-2">    
        
    <div class="card shadow">
        <div class="card-header h6 bg-dark text-light font-weight-bold d-flex justify-content-center">
          {{ pessoaParaAtualizar? 'Atualizar Pessoa' : 'Cadastro Pessoa'}}
        </div>
        <div class="card-body">

            <form [formGroup]="formulario" (ngSubmit)="cadastrarOuAtualizar()" novalidate>                
            
                <div class="form-row">
            
                    <div class="col-12 col-sm-6 form-group">
                        <label>Nome</label>
                        <input type="text" class="form-control form-control-sm" formControlName="nome"/>
                        <small *ngIf="formulario.get('nome').invalid && formulario.get('nome').dirty" class="text-danger">Campo obrigatório*</small>
                    </div>
            
                    <div class="col-12 col-sm-6 form-group">
                        <label>Data de nascimento</label>                        
                        <input
                            class="form-control form-control-sm"
                            #datepickerYMD="bsDatepicker"                            
                            bsDatepicker
                            formControlName="dataNascimento"                            
                            [bsConfig]="{ dateInputFormat: 'DD/MM/YYYY', isAnimated: 'true', containerClass: 'theme-default' }"
                            [maxDate]="dataMax"/>
                        <small *ngIf="formulario.get('dataNascimento').invalid && formulario.get('dataNascimento').dirty" class="text-danger">Campo obrigatório*</small>
                    </div>
                    
                    <label>Sexo</label>
                    <div class="col-12">                
                        <div class="custom-control custom-radio custom-control-inline">
                            <input id="m" class="custom-control-input" type="radio" name="sexo" value="m" formControlName="sexo">
                            <label for="m" class="custom-control-label">Masculino</label>
                        </div>
                        <div class="custom-control custom-radio custom-control-inline">
                            <input id="f" class="custom-control-input" type="radio" name="sexo" value="f" formControlName="sexo">
                            <label for="f" class="custom-control-label">Feminino</label>
                        </div>
                        <div class="custom-control custom-radio custom-control-inline">
                            <input id="-" class="custom-control-input" type="radio" name="sexo" value="-" formControlName="sexo">
                            <label for="-" class="custom-control-label">Não informar</label>
                        </div>                        
                    </div>
                    <small *ngIf="formulario.get('sexo').invalid && formulario.get('sexo').dirty" class="text-danger">Campo obrigatório*</small>
            
                    <div class="col-12 col-sm-6 d-flex justify-content-center">
                        <button class="btn btn-sm btn-block btn-dark mt-2 shadow-sm" type="submit" [disabled]="formulario.invalid">
                            {{ pessoaParaAtualizar? 'Atualizar' : 'Cadastrar' }}
                        </button>
                    </div>
            
                    <div class="col-12 col-sm-6 d-flex justify-content-center">
                        <button class="btn btn-sm btn-block btn-danger mt-2 shadow-sm" type="reset" (click)="cancelar()">
                            Cancelar
                        </button>
                    </div>
            
                </div>
            
            </form>         
                        
        </div>
      </div>
</div>
