<div class="container-fluid">

    <div class="row justify-content-center">
        <p class="h5">Sobre</p>
    </div>
    
    <p>Projeto desenvolvido para estudar o Firestore com funções básicas para cadastrar, excluir, listar e atualizar dados. O que foi usado neste projeto?</p>        

    <div class="row">
        <div class="col">
            <div class="row justify-content-center mb-3">
                <div class="list-group">
                    <a href="https://angular.io/" class="list-group-item list-group-item-action"> Angular 9 </a>
                    <a href="https://getbootstrap.com/" class="list-group-item list-group-item-action">Bootstrap 4</a>
                    <a href="https://valor-software.com/ngx-bootstrap/#/" class="list-group-item list-group-item-action">Ngx-bootstrap</a>
                    <a href="https://firebase.google.com/" class="list-group-item list-group-item-action">Firebase/Firestore</a>            
                    <a href="https://valor-software.com/ng2-charts/" class="list-group-item list-group-item-action">Ng2-charts</a>            
                  </div>
            </div>
        </div>
        <div class="col">
            <p> <span class="font-weight-bold">Desenvolvido por:</span> Jancleiton Nunes</p> 
            <p> <span class="font-weight-bold">Email:</span> jancleitonnunes@gmail.com</p>  
            <p><a href="https://gitlab.com/Jancleiton">GitLab</a></p>
        </div>        
    </div>        
    
</div>